<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('share/head_link.ejs') %>
        <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('share/header.ejs') %>


        <section id="sec1">
            <video autoplay muted loop id="myVideo">
                <source src="video/grape.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="content">
                <h1>新鮮蔬果送到家</h1>
                <p>幫您快速解決買菜的困擾</p>
            </div>
        </section>


        <h2>簡單三步驟</h2>
        <section id="sec3" class="container-fluid shadow">
            <div id="step1" class="shadow">
                <label id="one" class="shadow">1</label>
                <label id="txt1">選購蔬果箱</label>
            </div>
            <div id="step1s" class="shadow">
                <img src="/img/home_001.jpg" class="img-fluid">
            </div>
            <div id="step2" class="shadow">
                <label id="two" class="shadow">2</label>
                <label id="txt2">選擇配送頻率<br>下單付款</label>
            </div>
            <div id="step2s" class="shadow">
                <img src="/img/home_002.jpg" class="img-fluid">
            </div>
            <div id="step3" class="shadow">
                <label id="three" class="shadow">3</label>
                <label id="txt3">蔬果箱送達</label>

            </div>
            <div id="step3s" class="shadow">
                <img src="/img/home_003.jpg" class="img-fluid">
            </div>
        </section>

        <section id="sec4" class="container-fluid shadow">
            <h2>熱銷蔬果箱</h2>
            <div class="pSlider">
                <div class="pSlide-track">
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_004.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top img-fluid" src="img/home_004.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_004.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_004.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                    <div class="pSlide">
                        <div class="card text-center" style="width: 18rem;">
                            <div class="card-header">
                                綜合蔬菜箱
                            </div>
                            <img class="card-img-top" src="img/home_001.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">內容物</h5>
                                <p class="card-text">當令蔬菜5份</p>
                                <a href="#" class="btn btn-vg">前往商品頁面</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec5" class="container-fluid shadow">
            <h2>顧客回饋</h2>
            <div class="pSlider2">
                <div class="pSlide2-track">
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                    <div class="pSlide2">
                        <div class="card text-center">
                            <div class="card-header">
                              Featured
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Special title treatment</h5>
                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec6" class="container-fluid">
            <a id="redirect" href="/product" class="btn btn-vg-lg m-5 shadow-lg">開始購物</a>

        </section>

        <%- include('share/footer.ejs') %>

            <%- include('share/vg-main.ejs') %>
                <script>
                    var video = document.getElementById("myVideo");
                    video.onclick = function () {
                        if (video.paused) {
                            video.play();
                            btn.innerHTML = "Pause";
                        } else {
                            video.pause();
                            btn.innerHTML = "Play";
                        }
                    }
                </script>

</body>

</html>