<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vege果蔬配</title>
    <link rel="icon" href="/img/fruitbox_s.png">
    <%- include('share/head_link.ejs') %>
        <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('share/header.ejs') %>


        <section id="sec1">
            <video autoplay muted loop id="myVideo">
                <source src="video/grape.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="content">
                <h1>新鮮蔬果送到家</h1>
                <p>幫您快速解決買菜的困擾</p>
            </div>
        </section>


        <h2>簡單三步驟</h2>
        <section id="sec3" class="container-fluid shadow">
            <div id="step1" class="shadow">
                <label id="one" class="shadow">1</label>
                <label id="txt1">選購蔬果箱</label>
            </div>
            <div id="step1s" class="shadow">
                <img src="/img/home_001.jpg" class="img-fluid">
            </div>
            <div id="step2" class="shadow">
                <label id="two" class="shadow">2</label>
                <label id="txt2">選擇配送頻率<br>下單付款</label>
            </div>
            <div id="step2s" class="shadow">
                <img src="/img/home_002.jpg" class="img-fluid">
            </div>
            <div id="step3" class="shadow">
                <label id="three" class="shadow">3</label>
                <label id="txt3">蔬果箱送達</label>

            </div>
            <div id="step3s" class="shadow">
                <img src="/img/home_003.jpg" class="img-fluid">
            </div>
        </section>

        <section id="sec4" class="container-fluid shadow">
            <h2>熱銷蔬果箱</h2>
            <div class="pSlider">
                <div class="pSlide-track">
                </div>
            </div>
        </section>

        <section id="sec5" class="container-fluid shadow">
            <h2>顧客回饋</h2>
            <div class="pSlider2">
                <div class="pSlide2-track">
                </div>
            </div>
        </section>

        <section id="sec6" class="container-fluid">
            <a id="redirect" href="/product" class="btn btn-vg-lg m-5 shadow-lg">開始購物</a>

        </section>

        <%- include('share/footer.ejs') %>

            <%- include('share/vg-main.ejs') %>
                <script>
                    var video = document.getElementById("myVideo");
                    video.onclick = function () {
                        if (video.paused) {
                            video.play();
                            btn.innerHTML = "Pause";
                        } else {
                            video.pause();
                            btn.innerHTML = "Play";
                        }
                    }

                    fetch('/home/homeProduct')
                        .then(function (res) {
                            return res.json();
                        })
                        .then(function (jsonObj) {
                            for (var j=0; j<3; j++){
                                for (var i = 0; i < jsonObj.length; i++) {
                                    console.log(jsonObj[i].product);
                                    $('#sec4 .pSlide-track').append(`
                                    <div class="pSlide" id="pSlide${i}">
                                        <div class="card text-center vgslide${i}" style="width: 18rem;">
                                            <div class="card-header">
                                                ${jsonObj[i].product}
                                            </div>
                                            <img class="card-img-top" src="img/${jsonObj[i].product}.png" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">內容物</h5>
                                                <p class="card-text">${jsonObj[i].content}</p>
                                                <a href="/product" class="btn btn-vg">前往商品頁面</a>
                                            </div>
                                        </div>
                                    </div>`);
                                }
                            }
                            $('.vgslide3 p.card-text').html('客製化自由選購蔬果');
                        });

                    fetch('/home/homeRates')
                    .then(function(res){
                        return res.json();
                    })
                    .then(function(jsonObj){
                        console.log(jsonObj[0]);
                        for(var j = 0; j < 3; j++){

                            for(var i = 0; i < jsonObj.length; i++){
                                var commentList = jsonObj[i].comment.split('|');
                                console.log(commentList);
                                $('#sec5 .pSlide2-track').append(`
                                <div class="pSlide2">
                                    <div class="card border-success text-left">
                                        <div class="card-header">
                                            ${jsonObj[i].Name}
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                                            <p class="card-text">${commentList[1]}</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            ${Math.floor(Math.random() * 5)} days ago
                                        </div>
                                    </div>
                                </div>`)
                            }
                        }
                        
                    })
                </script>

</body>

</html>