<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('share/head_link.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="css/contactUs.css">
        <style>
            #login {
                margin-top: 120px;
            }
        </style>
</head>

<body>
    <%- include('share/header.ejs') %>

        <section id="login" class="container-lg p-5 pb-5 shadow-lg mb-5">
            <form class="form w-50 ms-auto me-auto" id="loginForm" method="post">
                <h4 class="vg-h4 pb-1">登入</h4>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control ps-5" id="loginEmail" placeholder="email"
                        style="letter-spacing: 1px;" name="mail">
                    <label for="floatingEmail">email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control ps-5" id="loginPwd" placeholder="password"
                        style="letter-spacing: 1px;" name="pwd">
                    <label for="pwd">密碼</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-vg-lg mb-0" type="submit" id="submit">登入</button>
                </div>
            </form>
        </section>


        <%- include('share/footer.ejs') %>


            <!-- 以下是script -->
            <%- include('share/vg-main.ejs') %>
                <script>
                    if($.cookie('email') != '') {
                        $('#loginEmail').val($.cookie('email'));
                    } else {
                        console.log('沒有email');
                    }
                    let token = '';
                    $('#submit').on('click', function (e) {
                        e.preventDefault();
                        var data = {
                            "email": "",
                            "pwd": ""
                        };
                        data.email = $('#loginEmail').val();
                        data.pwd = $('#loginPwd').val();
                        var JSONData = JSON.stringify(data);
                        console.log(JSONData);

                        var a = $('#regEmail').prop('value');
                        var b = $('#regPwd').prop('value');
                        if (a == '' || b == '') {
                            const Toast = Swal.mixin({
                                toast: true,
                                position: 'center',
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: false,
                            });
                            Toast.fire({
                                icon: 'error',
                                title: '請填寫完整。',
                            });
                        } else {

                            fetch('/login/userlogin', {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json;charset=UTF-8"
                                },
                                body: JSONData
                            })
                                .then(function (response) {
                                    return response.json();
                                })
                                .then(function (jsonObj) {
                                    // console.log(jsonObj.data.token);
                                    var newToken = JSON.stringify(jsonObj.data);
                                    var cookieToken = JSON.stringify(jsonObj.data.token);
                                    var cookieUser = JSON.stringify(jsonObj.data.id);
                                    var now = new Date();
                                    var expirationTime = new Date(now.getTime() + 1 * 24 * 60 * 60 * 1000);
                                    document.cookie = `token=${cookieToken}; expires=${expirationTime.toUTCString()}; Domain=127.0.0.1; path=/; port=2407`;
                                    document.cookie = `user=${cookieUser}; expires=${expirationTime.toUTCString()}; Domain=127.0.0.1; path=/; port=2407`;
                                    document.cookie = `email=${data.email}; expires=Thu, 01 Jan 1970 00:00:00 UTC; Domain=127.0.0.1; path=/; port=2407`;
                                    localStorage.setItem('token', newToken);
                                    const Toast = Swal.mixin({
                                        toast: true,
                                        position: 'center',
                                        showConfirmButton: false,
                                        timer: 3000,
                                        timerProgressBar: false,
                                    });
                                    Toast.fire({
                                        icon: 'success',
                                        title: '登入成功!畫面將跳轉至首頁'
                                    });
                                    setTimeout(function () {
                                        location.href = "/";
                                    }, 2000);
                                })
                        }


                    })
                    // const Toast = Swal.mixin({
                    //     toast: true,
                    //     position: 'center',
                    //     showConfirmButton: false,
                    //     timer: 3000,
                    //     timerProgressBar: false,
                    // });
                    // Toast.fire({
                    //     icon: 'success',
                    //     title: '登入中'
                    // });

                </script>