<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/fruitbox_s.png">
    <title>確認訂單</title>

    <!-- vg style -->
    <%- include('share/head_link.ejs') %>
        <link rel="stylesheet" href="css/cart.css">


</head>

<body>
    <!-- 頁首 -->
    <%- include('share/header.ejs') %>
        <!-- 主要區塊 -->
        <main style="margin-top: 130px; margin-bottom: 50px;">
            <!-- progress bar -->
            <div>
                <ul id="progressbar">
                    <li class="active">購物車</li>
                    <li class="active">結帳</li>
                    <li>送出訂單</li>
                    <li>訂購完成</li>
                </ul>
            </div>
            <!-- 訂單資訊 -->
            <div class="container row m-auto">
                <section class="lside col-12 col-md-7 mb-3">
                    <!-- 資料確認 -->
                    <div id="confirminfo" class="">
                        <h3 class="vg-h3 text-center my-3">訂購資訊</h3>
                        <div class="text-center" id="orderdetails">
                            <!-- 基本資料 -->
                            <!-- <div>
                                    <h5 class="vg-h5">基本資料</h5>
                                    <p class="vg-p">王小明</p>
                                    <p class="vg-p">0912345678</p>
                                    <p class="vg-p">tom123@gmail.com</p>
                                </div> -->
                            <!-- 收件資料 -->
                            <!-- <div>
                                    <h5 class="vg-h5">收件資料</h5>
                                    <p class="vg-p">宅配</p>
                                    <p class="vg-p">陳大華</p>
                                    <p class="vg-p">台南市安南區海安路123號</p>
                                    <p class="vg-p">0912333444</p>
                                </div> -->
                            <!-- 付款方式-->
                            <!-- <div>
                                    <h5 class="vg-h5">付款方式</h5>
                                    <p class="vg-p">信用卡一次付清</p>
                                    <p class="vg-p">Wang Ming</p>
                                    <p class="vg-p">0000-0000-0000-0000</p>
                                    <p class="vg-p">09/23</p>
                                    <p class="vg-p">***</p>
                                </div> -->
                            <!-- 發票開立-->
                            <!-- <div>
                                    <h5 class="vg-h5">發票開立</h5>
                                    <p class="vg-p">個人發票</p>
                                    <p class="vg-p">./Z-hid</p>
                                </div> -->
                            <!-- 訂單備註-->
                            <!-- <div>
                                    <h5 class="vg-h5">訂單備註</h5>
                                    <p class="vg-p">不喜歡吃香蕉</p>
                                </div> -->
                        </div>
                    </div>
                </section>
                <section class="rside col-12 col-md-4">
                    <!-- summary -->
                    <div id="summery">
                        <h3 class="vg-h3 text-center my-3">訂單內容</h3>
                        <p class="vg-ps text-center">編號<span id="orderid"></span></p>
                        <table id="summary_items" class="table ">
                            <tr>
                                <th>品項</th>
                                <th>#</th>
                                <th class="w-25">價格</th>
                            </tr>
                        </table>
                        <table id="summary_coupon" class="table w-50">
                            <tr>
                                <td class="vg-p vg-href" id="shippingfee" title="1~2人160元，3~4人290元">運費</td>
                                <!-- <td>120</td> -->
                            </tr>
                            <tr>
                                <td class="vg-p">折扣碼<span class="vg-ps" id="usecouponid"></span></td>
                                <td id="coupondiscount">0</td>
                            </tr>
                            <tr>
                                <td class="vg-p">購物金</td>
                                <td id="bonusdiscount">0</td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-around">
                            <div class="vg-h4">總金額</div>
                            <div class="vg-h3" id="total">0</div>
                        </div>
                    </div>
                    <!-- order -->
                    <div id="placeorder" class="text-center mt-5">
                        <a class="btn btn-vg-lg mt-2 mb-3 p-3" id="sendorder" onclick="sendorder()">送出訂單</a><br />
                        <a href="/order" class="vg-href">返回修改</a><br />
                    </div>

                </section>
            </div>
        </main>
        <!-- 頁尾 -->
        <%- include('share/footer.ejs') %>

            <!-- vg JS -->
            <%- include('share/vg-main.ejs') %>
                <script src="js/cart.js"></script>
                <script>
                    // 設定使用者
                    var userData = localStorage.getItem('token');
                    var userToken = userData ? JSON.parse(userData) : false;
                    // 設定目前使用者id
                    var uid = userToken.id;
                    // var userData = localStorage.getItem('token');
                    //     console.log(userData)
                    //     if (userData !== null) {
                    //         var userToken = userData ? JSON.parse(userData) : false;
                    //         // 設定目前使用者id
                    //         var uid = userToken.id;
                    //     } else {
                    //         Swal.fire({
                    //             title: '請先登入會員',
                    //             icon: 'warning',
                    //             showConfirmButton: false,
                    //             timer: 1500
                    //         }).then(
                    //             setTimeout(()=>{
                    //                 document.location.href = "/login/userlogin"
                    //             },2000)
                    //         )
                    //     }

                    // 連結訂單資料表 vgorder
                    $.get(`/order/items/${uid}`, function (e) {
                        if (typeof (e) == 'string') {
                            items = JSON.parse(e);
                        } else {
                            items = e;
                        }
                        // 訂單內容
                        var total = 0;
                        var bonus = 0;
                        var coupon = 0;
                        var shippingfee = 0;
                        // $("#summary_items").empty();
                        $.each(items, function (index, item) {
                            console.log(item)
                            item.useCoupon == null ? '0' : item.useCoupon;
                            item.c_note == null ? item.c_note = '無備註' : item.c_note;
                            // item.c_option ? item.c_option = item.c_option : item.c_option = ''; 

                            item.size == 's' ? fee = 160 : fee = 290; // 運費 (S-160 L-290)
                            item.size == 's' ? item.size = '雙人箱(1~2人)' : item.size = '家庭箱(3~4人)';
                            if (item.freq == 'once') {
                                item.freq = '單次購買';
                                item.day = "";
                            } else if (item.freq == '30d') {
                                item.freq = '每周一次'
                            } else {
                                item.freq = '雙周一次'
                            }

                            // 設定自選箱價格
                            if ( item.product.includes('自選')) {
                                item.price = localStorage.getItem(`optionPrice${item.cid}`);
                            }

                            if (item.size == '雙人箱(1~2人)' && item.freq == '單次購買') {
                                item.price = parseInt(item.price) * item.quantity
                            } else if (item.size == '家庭箱(3~4人)' && item.freq == '單次購買') {
                                item.price = (parseInt(item.price) + 200) * item.quantity
                            } else if (item.size == '雙人箱(1~2人)' && item.freq == '每周一次') {
                                item.price = (parseInt(item.price) * 4) * item.quantity
                            } else if (item.size == '家庭箱(3~4人)' && item.freq == '每周一次') {
                                item.price = ((parseInt(item.price) + 200) * 4) * item.quantity
                            } else if (item.size == '雙人箱(1~2人)' && item.freq == '雙周一次') {
                                item.price = (parseInt(item.price) * 4) * item.quantity
                            } else {
                                item.price = ((parseInt(item.price) + 200) * 4) * item.quantity
                            }

                            var trHtml = `
                            <tr>
                                <td>
                                    <p class="m-0" id=aa${item.cid}>${item.product}</p>
                                    <p class="vg-ps">${item.size} ${item.freq} ${item.day} ${item.c_note} </p>
                                </td>
                                <td>${item.quantity}</td>
                                <td>${item.price}</td>
                            </tr>
                            `;
                            $("#summary_items").append(trHtml);
                            $('#coupondiscount').text(item.useCoupon);
                            $('#bonusdiscount').text(-item.useBonus);
                            bonus = parseInt(item.useBonus);
                            coupon = parseInt(item.useCoupon);
                            shippingfee += fee;
                            total += item.price;
                            // console.log(item.c_option)
                            if (item.c_option != null && item.c_option.includes(',')) {
                                item.c_option = item.c_option.split(',').slice(1,);
                                // console.log(item.c_option);
                                $(`#aa${item.cid}`).append(`<br/><i class="vg-ps">${item.c_option}</i><br/>`)
                            }
                        })
                        // 運費計算
                        var tdHtml = `    
                        <td>${shippingfee}</td>
                        `;
                        $('#shippingfee').after(tdHtml)

                        // 總金額計算
                        $('#total').text(shippingfee + total - bonus + coupon)
                    }).then(function (res) {
                        orderid.innerText = res[0].oid;
                        // console.log(res[0])

                        // 修正轉帳日期格式
                        var date = res[0].transDate.split('T')
                        // console.log(date[0])

                        var divHtml = `
                                <div>
                                    <h5 class="vg-h5">基本資料</h5>
                                    <p class="vg-p" id='name'>${res[0].oName}</p>
                                    <p class="vg-p" id='tel' >${res[0].oTel}</p>
                                    <p class="vg-p" id='email'>${res[0].oMail}</p>
                                </div>
                                <div>
                                    <h5 class="vg-h5">收件資料</h5>
                                    <p class="vg-p" id='deliveryHome'></p>
                                    <p class="vg-p">${res[0].rName}</p>
                                    <p class="vg-p">${res[0].rTel}</p>
                                    <p class="vg-p">${res[0].rAddr}</p>
                                    <p class="vg-p" id='deliveryConv'></p>
                                    <p class="vg-p">${res[0].convName}</p>
                                    <p class="vg-p">${res[0].convTel}</p>
                                    <p class="vg-p" id='convStore'>${res[0].convStore}</p>
                                </div>
                                <div>
                                    <h5 class="vg-h5">付款方式</h5>
                                    <p class="vg-p" id='paymentTrans'></p>
                                    <p class="vg-p">${res[0].transName}</p>
                                    <p class="vg-p">${res[0].transNum}</p>
                                    <p class="vg-p" id='transdate'>${date[0]}</p>
                                    <p class="vg-p" id='paymentCard'></p>
                                    <p class="vg-p">${res[0].creditName}</p>
                                    <p class="vg-p">${res[0].creditNum}</p>
                                    <p class="vg-p" id="creditexpireddate">${res[0].creditMM} / ${res[0].creditYY}</p>
                                    <p class="vg-p" id="linepay">${res[0].payment}</p>
                                    </div>
                                <div>
                                    <h5 class="vg-h5">發票開立</h5>
                                    <p class="vg-p" id='billD'></p>
                                    <p class="vg-p">${res[0].billDonate}</p>
                                    <p class="vg-p" id='billP'></p>
                                    <p class="vg-p" id='billPersonal'>${res[0].billPersonal}</p>
                                    <p class="vg-p" id='billC'></p>
                                    <p class="vg-p">${res[0].billCompName}</p>
                                    <p class="vg-p">${res[0].billCompNum}</p>
                                    <p class="vg-p">${res[0].billCompAddr}</p>
                                </div>
                                <div>
                                    <h5 class="vg-h5">訂單備註</h5>
                                    <p class="vg-p">${res[0].o_note}</p>
                                </div>
                        `;
                        orderdetails.innerHTML = divHtml;
                        if (res[0].creditMM == '' || null) {
                            $('#creditexpireddate').remove()
                        }
                        if (res[0].convName == '' || null) {
                            $('#convStore').remove()
                        }
                        if (res[0].transName == '' || null) {
                            $('#transdate').remove()
                        }
                        if (res[0].billPersonal == null) {
                            $('#billPersonal').remove()
                        }
                        if (res[0].payment == null) {
                            $('#linepay').css('visibility', 'hidden')
                        }
                        res[0].rName != '' ? (deliveryHome.innerText = '宅配') : (deliveryHome.innerText = '')
                        res[0].convName != '' ? (deliveryConv.innerText = '7-11') : (deliveryConv.innerText = '')
                        res[0].transName != '' ? (paymentTrans.innerText = '轉帳匯款') : (paymentTrans.innerText = '')
                        res[0].creditName != '' ? (paymentCard.innerText = '信用卡') : (paymentCard.innerText = '')
                        res[0].billDonate != '' ? (billD.innerText = '捐贈') : (billD.innerText = '')
                        res[0].billPersonal != null ? (billP.innerText = '個人') : (billP.innerText = '')
                        res[0].billCompNum != '' ? (billC.innerText = '公司') : (billC.innerText = '')
                    })

                    // 按下 送出訂單 按鈕的事件綁定
                    sendorder = () => {
                        var oid = orderid.innerText;
                        var time = new Date().getTime();
                        // console.log(time)
                        var summary_total = $('#total').text()
                        // console.log(summary_total)


                        // 更新 本筆訂單 對應的o_status active => pending
                        fetch('/editorder/statusinactive/', {
                            method: 'PATCH',
                            headers: {
                                "Content-Type": "application/json ; charset=UTF-8"
                            },
                            body: JSON.stringify({
                                oid: oid,
                                o_updatetime: time
                            })
                        }).then(
                            // 刪除使用者購物金
                            fetch('/updateuser/bonus/', {
                                method: 'POST',
                                headers: {
                                    "Content-Type": "application/json ; charset=UTF-8"
                                },
                                body: JSON.stringify({
                                    uid: uid,
                                    bonus: bonusdiscount.innerText
                                })
                            }).then(
                                // 轉址
                                // document.location.href = "/orderprocessing/"
                            )
                        )

                        // 串接LINEPAY 金流 (部分完成)
                        if (linepay.innerText == "linepay") {
                            // console.log('linepay')
                            // 轉址linepay v2 服務 (建立訂單)
                            fetch('/payments/linepay/', {
                                method: 'POST',
                                headers: {
                                    "Content-Type": "application/json ; charset=UTF-8",
                                },
                                body: JSON.stringify({
                                    amount: summary_total,
                                    orderId: oid
                                })
                            })
                                .then((res) => {
                                    return res.json()
                                })
                                .then((r) => {
                                    // console.log( r.info.paymentUrl.web )
                                    // 打開付款頁面
                                    document.location.href = r.info.paymentUrl.web
                                })

                        } else {
                            // 轉址
                            document.location.href = "/orderprocessing/"
                        }

                    }



                </script>

</body>

</html>