<nav id="main-nav">
  <span id="userName" class="vg-ps"></span>
  <button id="logoutBTN" class="btn btn-vg-sm">登出</button>
  <a href="#" class="icon" id="navUser">
    <i class="fa-solid fa-user"></i>
  </a>
  <a href="#" class="icon cart-button" id="navCart">
    <span class="bag-count">0</span>
    <span>
      <i class="fa-solid fa-cart-shopping img-fluid"></i>
    </span>
    <!-- <span class="bag-label">View Bag</span> -->
  </a>
</nav>
<!-- 登入modal -->
<div
  class="modal"
  id="checkUser"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="checkUserLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="checkUserLabel">請輸入您的email</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form w-75 ms-auto me-auto" id="emailForm">
          <input
            type="email"
            class="form-control"
            id="userEmail"
            placeholder="email"
            style="letter-spacing: 1px; padding: 10px"
            name="email"
          />
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-vg-reg" id="checkEmail">確認</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- 登入modal到此為止 -->

<aside id="sidebar-cart">
  <main>
    <a href="#" class="close-button"><i class="fa-solid fa-xmark"></i></a>
    <h2>購物車<span class="count">0</span></h2>
    <ul class="products"></ul>
    <div class="totals">
      <div class="subtotal">
        <span class="label">Total:</span>
        <span class="total amount">0</span>
      </div>
    </div>
    <div class="action-buttons">
      <a class="checkout-button" href="/cart"
        >結帳去<i class="fa-solid fa-angles-right"></i
      ></a>
    </div>
  </main>
</aside>
<div id="sidebar-cart-curtain"></div>
<div class="vg-nav" id="vg-navbar">
  <a href="/" class="vg-nav-logo"><img src="img/vegeLogo.png" alt="vegeLogo"></a>
  <a href="/about" class="btn-vg-2">關於我們</a>
  <a href="/activityboard" class="btn-vg-2">最新消息</a>
  <a href="/product" class="btn-vg-2">產品資訊</a>
  <a href="/blog/page/1" class="btn-vg-2">蔬果專欄</a>
  <a href="/qna" class="btn-vg-2">常見QA</a>
  <a href="javascript:void(0);" class="icon" onclick="myDropNav1()">
    <i class="fa fa-bars"></i>
  </a>
</div>
