<!-- background -->
<div class="vg-header"></div>

<!-- 背景與頭貼 -->
<div class="irr-bg">
    <a class="img-container">
        <img src="https://banner.freetransparentpng.com/20210617/zet/cartoon-rabbit-pictogram-for-animals-60cb0446845116.04787117.png"
            alt="">
        </img>
        <div class="user-img-hover"></div>
    </a>
</div>

<div class="bg-flex d-flex">

    <!-- sidebar -->
    <div class="div-refer memb-sidB">

        <!-- pill-clip / CS-clip --->
        <svg class="svg-hidden">
            <clipPath id="mountain" clipPathUnits="objectBoundingBox">
                <path
                    d="M0,0.809 C0.009,0.79,0.029,0.77,0.038,0.842 C0.047,0.907,0.075,1,0.108,0.994 C0.125,0.993,0.176,0.932,0.237,0.692 L0.269,0.622 L0.305,0.569 C0.312,0.574,0.328,0.592,0.339,0.622 C0.353,0.644,0.389,0.68,0.416,0.654 C0.419,0.626,0.425,0.569,0.43,0.569 C0.436,0.569,0.429,0.5,0.472,0.622 C0.48,0.599,0.496,0.566,0.494,0.622 C0.497,0.623,0.503,0.619,0.507,0.597 C0.513,0.579,0.524,0.544,0.528,0.542 C0.53,0.542,0.539,0.533,0.554,0.497 C0.558,0.481,0.566,0.449,0.569,0.447 C0.57,0.443,0.574,0.435,0.578,0.435 C0.584,0.416,0.596,0.38,0.601,0.38 C0.603,0.373,0.609,0.36,0.612,0.362 C0.615,0.358,0.625,0.332,0.646,0.262 L0.656,0.27 C0.661,0.277,0.672,0.299,0.678,0.327 L0.692,0.375 L0.697,0.382 C0.7,0.38,0.712,0.394,0.731,0.462 L0.754,0.525 C0.756,0.531,0.76,0.544,0.762,0.542 C0.763,0.54,0.771,0.561,0.774,0.572 C0.777,0.581,0.782,0.599,0.784,0.597 C0.787,0.594,0.788,0.612,0.807,0.572 C0.817,0.539,0.839,0.472,0.844,0.472 C0.846,0.471,0.853,0.465,0.859,0.447 C0.871,0.416,0.898,0.357,0.904,0.365 C0.903,0.37,0.904,0.377,0.912,0.365 L0.959,0.227 C0.961,0.223,0.966,0.217,0.968,0.227 C0.97,0.237,0.978,0.231,0.981,0.227 C0.987,0.218,1,0.201,1,0.207 V0 H0 V0.809">
                </path>
            </clipPath>
        </svg>

        <svg class="svg-hidden">
            <clipPath id="pill" clipPathUnits="objectBoundingBox">
                <path
                    d="M0.18,0 V0 H1 V1 H0.18 V1 C0.178,1,0.177,1,0.175,1 C0.077,1,0,0.77,0,0.496 C0,0.222,0.079,0,0.178,0 C0.178,0,0.179,0,0.18,0">
                </path>
            </clipPath>
        </svg>

        <svg class="svg-hidden">
            <clipPath id="CS" clipPathUnits="objectBoundingBox">
                <path
                    d="M0.5,1 C0.224,1,0,0.776,0,0.5 C0,0.224,0.224,0,0.5,0 C0.776,0,1,0.224,1,0.5 C1,0.622,0.956,0.734,0.884,0.82 L0.982,0.965 L0.771,0.92 C0.693,0.971,0.6,1,0.5,1">
                </path>
            </clipPath>
        </svg>

        <!-- sidbar 本體 -->
        <div id="sidB" class="flex-shrink-0">
            <ul class="list-unstyled ps-0">
                <li class="mb-3">
                    <div class="text-decoration-none">
                        <button href="#" class="btn d-flex align-items-center collapsed fw-semibold"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false"
                            aria-controls="account-collapse">
                            我的帳戶
                        </button>
                    </div>
                    <div class="collapse" id="account-collapse" data-bs-parent="#sidB">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="" class="d-inline-flex text-decoration-none" id="myuserInfo">基本資料</a>
                            </li>
                            <li><a href="/member/myCards" class="d-inline-flex text-decoration-none">信用卡</a></li>
                            <li><a href="/member/address" class="d-inline-flex text-decoration-none">常用地址</a></li>
                            <li><a href="#" class="d-inline-flex text-decoration-none">更改密碼</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-3">
                    <button href="#" class="btn d-flex align-items-center collapsed fw-semibold"
                        data-bs-toggle="collapse" data-bs-target="#subscribe-collapse" aria-expanded="false"
                        aria-controls="subscribe-collapse">
                        訂單總覽
                    </button>
                    <div class="collapse" id="subscribe-collapse" data-bs-parent="#sidB">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/member/order" class="d-inline-flex text-decoration-none">訂單紀錄</a></li>
                            <!-- <li><a href="#" class="d-inline-flex text-decoration-none">訂閱制</a></li> -->
                            <!-- <li><a href="#" class="d-inline-flex text-decoration-none">單次訂單</a></li> -->
                            <!-- <li><a href="#" class="d-inline-flex text-decoration-none">歷史訂單紀錄</a></li> -->
                        </ul>
                    </div>
                </li>

                <!-- <li class="mb-3">
            <button href="#" class="btn d-flex align-items-center collapsed fw-semibold"
              data-bs-toggle="collapse" data-bs-target='#coupon-collapse' 
              aria-expanded="false" aria-controls="coupon-collapse">
              我的優惠卷
            </button>
            <div class="collapse" id="coupon-collapse" data-bs-parent="#sidB">
            </div>
          </li> -->

                <li class="mb-3">
                    <button href="#" class="btn d-flex align-items-center collapsed fw-semibold"
                        data-bs-toggle="collapse" data-bs-target='#coins-collapse' aria-expanded="false"
                        aria-controls="coins-collapse">
                        我的綠苗點
                    </button>
                    <div class="collapse" id="coins-collapse" data-bs-parent="#sidB">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/member/bonus" class="d-inline-flex text-decoration-none">累點紀錄</a></li>
                            <!-- <li><a href="#" class="d-inline-flex text-decoration-none">使用紀錄</a></li> -->
                        </ul>
                    </div>
                </li>

                <li class="mb-3">
                    <button href="#" class="btn d-flex align-items-center collapsed fw-semibold"
                        data-bs-toggle="collapse" data-bs-target="#mark-collapse" aria-expanded="false"
                        aria-controls="mark-collapse">
                        個人收藏
                    </button>
                    <div class="collapse" id="mark-collapse" data-bs-parent="#sidB">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/member/article" class="d-inline-flex text-decoration-none">收藏的文章</a></li>
                            <!-- <li><a href="#" class="d-inline-flex text-decoration-none">收藏的文章</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <a href="/contact" class="CS"><div id="memb-CS"></div></a>
    </div>