<div class="div-refer memb-multF">
    <!-- <div class="test">
      <h5 class="vg-h5 fw-semibold">蔬果曆</h5>
    </div>

    <div class="order-status">
      <h5 class="vg-h5 fw-semibold">訂單狀態追蹤</h5>
      <div class="accordion accordion-flush" id="status">
        <div class="accordion-item">
          <h2 class="accordion-header" id="non-payment">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#status-pay" aria-expanded="false" aria-controls="status-pay">
              待付款
              <span></span>
            </button>
          </h2>
          <div id="status-pay" class="accordion-collapse collapse" aria-labelledby="non-payment" data-bs-parent="#status">
            <div class="accordion-body">Placeholder content 
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="non-shipment">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#status-ship" aria-expanded="false" aria-controls="status-ship">
              待發貨
              <span class=""></span>
            </button>
          </h2>
          <div id="status-ship" class="accordion-collapse collapse" aria-labelledby="non-shipment" data-bs-parent="#status">
            <div class="accordion-body">Placeholder content 
            </div>
          </div>
        </div>  

        <div class="accordion-item">
          <h2 class="accordion-header" id="non-received">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#status-receive" aria-expanded="false" aria-controls="status-receive">
              待收貨
              <span></span>
            </button>
          </h2>
          <div id="status-receive" class="accordion-collapse collapse" aria-labelledby="non-received" data-bs-parent="#status">
            <div class="accordion-body">Placeholder content </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="non-feedback">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#status-feedback" aria-expanded="false" aria-controls="status-feedback">
              待評價
              <span></span>
            </button>
          </h2>
          <div id="status-feedback" class="accordion-collapse collapse" aria-labelledby="non-feedback" data-bs-parent="#status">
            <div class="accordion-body">Placeholder content </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="after-sale">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#status-AS" aria-expanded="false" aria-controls="status-AS">
              Accordion Item #3
            </button>
            <span class=""></span>
          </h2>
          <div id="status-AS" class="accordion-collapse collapse" aria-labelledby="after-sale" data-bs-parent="#status">
            <div class="accordion-body">Placeholder content </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>