<div class="memb-notify vg-ps">
    <div class="notiGroup">
      <p>填寫完整的會員資料，即贈100綠苗點喔！</p><br>
      <p>月圓人團圓，烤肉別忘了來點新鮮蔬果，中秋箱好評熱賣中</p>
    </div>
    <div class="notiGroup" aria-hidden="true">
      <p>填寫完整的會員資料，即贈100綠苗點喔！</p><br>
      <p>月圓人團圓，烤肉別忘了來點新鮮蔬果，中秋箱好評熱賣中</p>
    </div>
  </div>