<!-- 文章Navbar這裡開始 -->
<div id="vg-navbar-2" class="vg-navbar-2">
    <a id="titleAll" class="btn-vg-3">全部分類</a>
    <a id="title1" class="btn-vg-3" href="#sec1">段落標題1</a>
    <a id="title2" class=" btn-vg-3" href="#sec2">段落標題2</a>
    <a id="title3" class=" btn-vg-3" href="#sec3">段落標題3</a>
    <a id="title4" class=" btn-vg-3" href="#sec4">段落標題3</a>
    <a id="title5" class=" btn-vg-3" href="#sec5">段落標題3</a>
    <a href="javascript:void(0);" class="icon" onclick="myDropNav2()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<!-- 文章Navbar這裡結束 -->